### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# ----------------------------
###totalschools_dist
###totalstudents_dist
###totalbudget_dist
###averagemathscore_dist
###averagereadingscore_dist
#percentpassingmath_dist
#percentpassingread_dist
#percentpassingoverall_dist
#-----
## or I could seperate the data this wasy
#dist_totals
#dist_averages
#dist_percentages

##### totals calculations
#groups the data by type, turning it into a groupby object
schooldata_typegroup=school_data_complete.groupby("type")
#Returns unique students and school names for each type
dist_totals=pd.DataFrame(schooldata_typegroup["school_name","Student ID",].nunique())
#turns the original school data into a grouby by object in the type series
totalbudget_dist=school_data.groupby("type").sum()
## add the total budget from the totalbudget_dist
dist_totals.join(totalbudget_dist["budget"])

###### averages calculation
#joins the data on "type", calculating the mean
dist_averages=pd.DataFrame(school_data_complete.groupby("type").mean())
# i would like to figure out how to do this on 1 line
del dist_averages['budget']
del dist_averages['Student ID']
del dist_averages['School ID']
del dist_averages['size']



###calculates the percentage of students passing math
#calculating math percentages
#pulls in the student id and type if the studen's mathscore is equal to or above
passingmath_dist = school_data_complete.loc[school_data_complete["math_score"]>= 70,["Student ID","type"]]

#groups the data by type
passingmath_dist=passingmath_dist.groupby("type").count()

#pulls in the number of students passing math
passingmath_dist["# passing math"]=passingmath_dist["Student ID"]

# pulls in the total number of students for each type
percentpassingmath_dist["total students"]=dist_totals["Student ID"]

#adds the calculated column percent passing math
percentpassingmath_dist["percent passing math"]=(percentpassingmath_dist["# passing math"] / percentpassingmath_dist["total students"])


#------------------------------------------

#calculating reading percentages
#pulls in the student id and type if the studen's mathscore is equal to or above
passingread_dist = school_data_complete.loc[school_data_complete["reading_score"]>= 70,["Student ID","type"]]


#groups the data by type
passingread_dist=passingread_dist.groupby("type").count()

#!!!!!!! i tried copying and pasting my calculations from the math calculations but it broke down here
#renames student id to # passing math
passingread_dist["# passing reading"]=passingread_dist["Student ID"]
del passingread_dist["Student ID"]


# pulls in the total number of students for each type
percentpassingread_dist["total students"]=dist_totals["Student ID"]


#adds the calculated column percent passing math
percentpassingread_dist["percent passing reading"]=(percentpassingread_dist["# passing math"] / percentpassingread_dist["total students"])

percentpassingread_dist

C:\Users\Trav\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

NameError: name 'percentpassingmath_dist' is not defined

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type